@page "/project/project-view/{ProjectId}/"
@using Osiris.Data
@inject ProjectService projectService
@inject NavigationManager NavigationManager

@if (isLoaded.Equals(false))
{
    <LoadingSpinner />
}
else
{
    <h3>Project @projectObject.Name</h3>
    <p>@projectObject.Description</p>
    <p>@projectObject.ProjectId</p>

    <button type="button" class="btn-remove" @onclick="() => OnOpenProjectDeleteDialog()">Delete</button>
    <button type="button" class="btn-outlined" @onclick="() => OnOpenProjectEditDialog()">Edit</button>
    <a class="btn-outlined" href="/project/project-view/@projectObject.ProjectId/section-board">Section</a>

    @if (OpenDeleteDialog)
    {
        <ModalDeleteDialog Title="Are you sure ?"
                           Text="@projectObject.Name"
                           ButtonName="Delete"
                           OnClose="@DeleteProject" />
    }
    @if (OpenUpdateDialog)
    {
        <ProjectUpdate OnClose="@(UpdateProject)" RetrievedData="@projectObject.ProjectId.ToString()" />
    }
}

@code {
    [Parameter]
    public String ProjectId { get; set; }
    Project projectObject = new Project();
    Boolean isLoaded = false;

    private async Task loadData()
    {
        projectObject = await Task.Run(() => projectService.GetProjectAsync(ProjectId));
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        await loadData();
        isLoaded = true;
    }

    /* Modal Logic */

    /* Project Modal Logic */
    /* Project Delete Logic */
    public Boolean OpenDeleteDialog { get; set; }
    private void OnOpenProjectDeleteDialog()
    {
        OpenDeleteDialog = true;
        StateHasChanged();
    }
    private async Task DeleteProject(Boolean accepted)
    {
        if (accepted)
        {
            await projectService.DeleteProjectAsync(projectObject);
            NavigationManager.NavigateTo("/projects");
        }
        OpenDeleteDialog = false;
        StateHasChanged();
    }

    /* Project Update Logic */
    public Boolean OpenUpdateDialog { get; set; }
    private void OnOpenProjectEditDialog()
    {
        OpenUpdateDialog = true;
        StateHasChanged();
    }
    private async Task UpdateProject(Boolean accepted)
    {
        if (accepted)
        {
            await loadData();
        }
        OpenUpdateDialog = false;
        StateHasChanged();
    }
}
