@page "/fetchdata"

@using Osiris.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                    <td><button type="button" class="btn btn-danger" @onclick="()=> OnOpenDialog()"></button></td>
                </tr>
            }
        </tbody>
    </table>
    if (OpenDialog)
    {
        <ModalDeleteDialog Title="Are you sure ?" Text="Delete this man" OnClose="@OnCancelDialog"></ModalDeleteDialog>
    }

}

@code {
    public bool OpenDialog { get; set; }
    private void OnCancelDialog(bool accepted)
    {
        OpenDialog = false;
        StateHasChanged();
    }
    private void OnOpenDialog()
    {
        OpenDialog = true;
        StateHasChanged();
    }

    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
