<div class="modal fade show" id="deleteModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
            </div>
            <div class="modal-body">
                <p>@Text</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-remove" @onclick="@ModalAccepted">@ButtonName</button>
                <button type="button" class="btn-outlined" @onclick="@ModalCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public String Title { get; set; }
    [Parameter]
    public String Text { get; set; } = "";
    [Parameter]
    public EventCallback<Boolean> OnClose { get; set; }
    [Parameter]
    public String ButtonName { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalAccepted()
    {
        return OnClose.InvokeAsync(true);
    }
}